#main-container{
    height:900px;
}
/* 
.panel-body{
    height:326px !important;
} */

.art-categories{
    height: 154px;
    border-width: 1px;
    border-color: #CEFFCE;
    background-color: #3B8686;
    color: #CEFFCE;

    /* padding-top:20px;  */
}

.cat-user {
    height:326px !important;
    justify-content: space-between;
}

.disp-art{
    display: flex;
    justify-content: space-around;
    flex-direction:column;

}

.samp-work{
    height:100px !important;
    width:100px !important;
}

.user-pane{
    
}
