#main-container{
    /* height:900px; */
}

.cat-user{
    /* height:260px; */
}

.art-categories{
    height: 154px;
    border-width: 1px;
    border-color: black;
    /* padding-top:20px;  */
}





