featured{
    display: flex;
    justify-content: space-around;
}

.feat-user{
    height:230px;
    width:200px;
}
.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.thumbnail{
    background: #3B8686;
}

h3{
    font-weight: bold;
}

.works-writeup{
    padding: 50px;
}

h4 {
    text-align: center !important;
    margin-top: 0px !important;
}

.home-content-div{
    padding: 50px 0px;
}

#cust-share,
#trans-share,
#our-share {
    background-color: #3B8686;
    color: #CEFFCE;
}
.artist {
    color:  #A8DBA8;
}
.artist-head {
    color: #003A44;
}
