featured{
    display: flex;
    justify-content: space-around;
}

.feat-user{
    height:230px;
    width:200px;
}
.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.thumbnail{
    background: #EADDDB;
}

h3{
    font-weight: bold;
}

.works-writeup{
    padding: 50px;
}

h4{
    text-align: justify;
}

.home-content-div{
    padding: 50px 0px;
}

/* .page-header{
    padding: 10px 0px;
} */