#portrait {
    width: 100%;
    max-height: 450px;
}

#links {
    display: inline-flex;
    margin: 5px;
}

#links * {
    text-decoration: none;
    color: black;
    margin: 0 50px;
    font-size: 400%;
}

#links *:hover {
    background: #b2998e;
    border-radius: 5px;
    cursor: pointer;
}

.user-dash-panel {
    margin-bottom: 50px;
}

.dash-circle {
    height: 100px;
    width: 100px;
}

.dash-cluster {
    display: inline-block;
    height: auto;
    width: auto;
    padding: 20px;
}