#store-panel{
    /* height: 600px; */
    display: inline-block;
    width:100%;
    background: white;
    /* display: flex; */
}

#user-info-panel{
    margin:40px 0px;
}


.item-img{
        height:200px;
        width:200px;
}

.img{
    margin: 0px;
}